body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    margin: 0;
    background-color: #009579;
    color: black;
    padding: 20px 0;
    padding-bottom: 0.5%;
    text-align: center;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

.order-button {
    background-color: #009579;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.order-button:hover {
    background-color: #007f67;
    transform: scale(1.1);
}


footer {
    display: flex;
    font: 500 1rem 'Quicksand', sans-serif;
     background-color: #009579;
    color: black;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-left: auto;
    margin-right: 20px;
}
/* CSS for meal boxes */
.meal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 200px; /* Add space between the meal cards and the footer */
}

.meal-box {
    width: calc(30% - 20px); /* Adjust width to fit 3 boxes in a row with spacing */
    margin-bottom: 20px; /* Margin between each meal box */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meal-box h3 {
    margin-top: 0;
}

.meal-box p:last-child {
    color: #888; /* Dull bold color for "Created by" */
    margin-bottom: 8px; /* Add space at the bottom of the meal box */
    font-weight: bold; /* Make "Created by" text bold */
}

/* Add space between the meal cards and the footer */
footer {
    margin-top: 20px;
}